<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>

        <script src="packages/moment/moment.js"></script>

		<!-- My Scripts -->
		<script type="text/javascript" src="js/availability.js"></script>

		<!-- My Styles -->
		<link rel="stylesheet" type="text/css" href="styles/style.css">

	</head>
<body>
<div id="availability" class="container-fluid">
    <nav class="navbar navbar-default light-bg">
        <% include ../partials/nav %>
    </nav>

    <div id="availability-content" class="content col-xs-10 col-xs-offset-1">
        <div class="row">
            <h1 id="availability-name" class="col-xs-12"><%= locals.event_name %></h1>
            <p id="availability-descr" class="col-xs-12 lead"><%= locals.event_desc  %></p>
        </div>
        <div id="availability-event-details" class="page_break row">
            <div id="eventCreator" class="col-xs-12">Event Creator: <b><%= locals.event_creator_fname + " " + locals.event_creator_lname %></b></div>
            <div id="eventLength" class="col-xs-12">Length of Event: <b><%= locals.event_length  %> hour(s)</b></div>
            <div id="availFrom" class="col-xs-12">Dates: <b><%= locals.event_start_date  %> - <%= locals.event_end_date  %></b></div>
        </div>
        <div class="row">
            <h3 class="col-xs-12">
                Insert Availability
            </h3>
            <div id="availability-preference" class="col-xs-12">
                Select preference:
                <button id="btn-available" class="btn btn-default preferenceClicked">Preferred</button>
                <button id="btn-not-preferred" class="btn btn-default">Not Preferred</button>
            </div>
        </div>
        <div class="row">
            <div id="availability-times" class="col-xs-12">
                <div>
                    <table cellpadding="0" cellspacing="0" id="dataTable">
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <button id="availability-submit" type="submit" class="btn btn-default btn-lg pull-right orange-bg">Submit Availability</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>